@charset "utf-8";
.left{
    float: left;
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
    min-width: 30%;
    min-height: 200px;
    box-sizing: border-box;
    line-height: 300%;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    word-break: keep-all;
}
.right{
    float: right;
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
    width: 460px;
    height: 600px;
    box-sizing: border-box;
    line-height: 30px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    word-break: keep-all;
    word-wrap: break-word;
    
}
.right2{
    float: right;
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
    width: 450px;
    height: 600px;
    box-sizing: border-box;
    line-height: 30px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    word-break: keep-all;
    word-wrap: break-word;
}
.right2 h2,h3{text-align: center; line-height: 120px;}
.bottom{
    float: left;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    min-height: 350px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    text-align: justify;
    word-break: keep-all;
    word-wrap: break-word;
    line-height: 30px;    
}