@charset "utf-8";
.left{
    float: left;
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
    width: 40%;
    min-height: 200px;
    border: 1px solid red;
    box-sizing: border-box;
}

.left2{
    float: left;
    margin: 20px;
    margin-top: 30px;
    padding: 20px;
    width: 40%;
    min-height: 250px;
    border: 1px solid red;
    box-sizing: border-box;
}

.right{
    float: right;
    margin: 0px;
    margin-top: 70px;
    padding: 0px;
    width: 50%;
    min-height: 500px;
    border: 1px solid red;
    box-sizing: border-box;
}